<div class="center hero-unit">
  <h1>About us</h1>
  <p>Somos una compania de rapido crecimiento con presencia y operaciones en latinoamerica. Nuestra mision es hacer que tu optica logre sus metas por medio
  de una gestion sencilla de sus procesos, fortaleciemiento de las relaciones con sus clientes, monitoreo de sus ventas y gestion de su desempeno.</p>
</div>
