<div class="center hero-unit">
  <h1>Bienvenido a Yoptic</h1>
  <p>Yoptic es la plataforma online que permite gestionar todos tus procesos para tu optica y llevarla al exito fortaleciendo las relaciones 
  con tus clientes y llegando a la excelencia operativa. Ingresa a nuestra plataforma y vuelvete un miembro mas de nuestra comunidad que logro transformar su
  negocio y alcanzar sus metas.</p>
  <%= link_to "Ingresar a la plataforma", "#", class: "btn btn-large btn-primary" %>
</div>